import java.util.Scanner;
import java.io.*;
public class Numbers {
        
    
    public static void main(String[] args) throws IOException  {
        
        File nums = new File("number.dat");
		Scanner scan = new Scanner(nums);
		
		int s = scan.nextInt();
	    
		for(int k=1; k<=s;k++)
		{
			int oneNumber = scan.nextInt();
			System.out.println(oneNumber);
			
		}
    }
}
